.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.feedback-container{
  display: flex;
  margin: auto;
  min-height: 400px;
  flex-direction: column;
  justify-content: space-around; 
}

.textcheckbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .checkbox{
  padding-left: 5px;
} */

.admin-table-container{
  max-width: 90%;
}

.admin-container{
  display: flex;
  justify-content: center;
}